.main-chat
  .main-chat__main-header
    .main-chat__main-header__group-info
      .main-chat__main-header__group-info__group-name
        groupname1
      .main-chat__main-header__group-info__member-list
        Member : 俺
    .main-chat__main-header__edit-box
      .main-chat__main-header__edit-box__edit-btn
        Edit
      -# TODO ボタン位置おかしい
      -# TODO リンクどうにかする
      -# = link_to "#", class: "main-chat__main-header__edit-box__edit-btn"
  .main-chat__message-list
    .main-chat__message-list__message-info
      .main-chat__message-list__message-info__upper-info
        .main-chat__message-list__message-info__upper-info__talker
          username1　
          -# TODO スペースわからん
        .main-chat__message-list__message-info__upper-info__date
          2019/02/06(Thr) 21:07:00
      .main-chat__message-list__message-info__message-text
        message1
  .main-chat__message-form
    

